# SQL operators

SQL operators are important in database management systems (DBMS) as they allow us to manipulate and 
retrieve data efficiently. Operators in SQL perform arithmetic, logical, comparison, bitwise, and 
other operations to work with database values.

**Types of SQL Operators**

SQL operators can be categorized based on the type of operation they perform. Here are the primary types of SQL operators:

- Arithmetic Operator
- Comparison Operator
- Logical Operator
- Bitwise Operators
- Compound Operators
- Special Operators

# 1. SQL Arithmetic Operators

Arithmetic operators in SQL are used to perform mathematical operations on numeric data types in SQL queries.

- '+' The addition is used to perform an addition operation on the data values.

- –	 This operator is used for the subtraction of the data values.

- /	This operator works with the ‘ALL’ keyword and it calculates division operations.

- '*' This operator is used for multiplying data values.

- %	 Modulus is used to get the remainder when data is divided by another

# 2. Comparison Operator

SQL Comparison Operators test whether two given expressions are the same or not.

Operator              ----              Description	Example
- =	Equal to	    -----                5 = 5 returns TRUE
- !=	Not equal	-----                5 != 6 returns TRUE
- <>	Not equal	-----               5 <> 4 returns TRUE
- '>	Greater than ----	            4 > 5 returns FALSE
- '<	Less than	-----                    4 < 5 returns TRUE
- '>=	Greater than or equal to ----	4 >= 5 returns FALSE
- <=	Less than or equal to ----	    4 <= 5 returns TRUE
- !<	Not less than	----            4 !< 5 returns FALSE
- !>	Not greater than ---        4 !> 5 returns TRUE

# 3. SQL Logical Operators
SQL Logical Operators are very similar to comparison operators and they test for the truth of some given condition

**Operator	--- Description	Example**
- ALL	- TRUE if all of a set of comparisons are TRUE.
- AND - TRUE if all the conditions separated by AND are TRUE.	
- ANY - TRUE if any one of a set of comparisons are TRUE.	
- BETWEEN - TRUE if the operand lies within the range of comparisons.	
- EXISTS - TRUE if the subquery returns one or more records	
- IN - TRUE if the operand is equal to one of a list of expressions.	
- LIKE - TRUE if the operand matches a pattern specially with wildcard.	
- NOT - Reverses the value of any other Boolean operator.	
- OR	- TRUE if any of the conditions separated by OR is TRUE	
- IS NULL - TRUE if the expression value is NULL.	
- SOME - TRUE if some of a set of comparisons are TRUE.	
- UNIQUE - The UNIQUE operator searches every row of a specified table for uniqueness (no duplicates).

# 3. Logical Operators

In SQL, logical operators are used to create conditional expressions that evaluates to either true or false. They are used in the WHERE clause of SELECT, UPDATE, DELETE, and other SQL statements to filter data based on specified conditions

- ALL	- TRUE if all of a set of comparisons are TRUE.	
- AND	TRUE if all the conditions separated by AND are TRUE.	
- ANY	TRUE if any one of a set of comparisons are TRUE.	
- BETWEEN	TRUE if the operand lies within the range of comparisons.	
- EXISTS	TRUE if the subquery returns one or more records	
- IN	TRUE if the operand is equal to one of a list of expressions.	
- LIKE	TRUE if the operand matches a pattern specially with wildcard.	
- NOT	Reverses the value of any other Boolean operator.	
- OR	TRUE if any of the conditions separated by OR is TRUE	
- IS NULL	TRUE if the expression value is NULL.	
- SOME	TRUE if some of a set of comparisons are TRUE.	
- UNIQUE	The UNIQUE operator searches every row of a specified table for uniqueness (no duplicates).

# SQL Table

**CREATE Database Statement**
The CREATE DATABASE statement is a DDL (Data Definition Language) statement used to create a new database in SQL.

In this sql ]]]

CREATE DATABASE DatabaseName;